#metro-box {
  width: 100%;
  height: 480px;
  margin: 40px 0 30px 0;
  background: #999;
}
#metro-box .column {
  width: 1030px;
  float: left;
}
#metro-box .metro-item {
  float: left;
  width: 338px;
  margin: 0px 5px 5px 0;
}
#metro-box .metro-item.big {
  width: 681px;
}
#metro-box .metro-item .box-img {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  position: relative;
  margin: 0;
  overflow: hidden;
}
#metro-box .metro-item .box-img img {
  width: 338px;
  height: 220px;
}
#metro-box .metro-item.big .box-img {
  width: 681px;
}
#metro-box .metro-item.big .box-img img {
  width: 681px;
  height: 220px;
}
#metro-box .metro-item .box-img .metro-content {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  position: absolute;
  bottom: -50%;
  left: 0;
  padding: 15px;
  height: 160px;
  background: #49ae2766;
  color: #fff;
}
#metro-box .metro-item .box-img:hover .metro-content {
  bottom: 0;
  height: 130px;
}
#metro-box .metro-item .box-img .metro-content h3 {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 50px;
}
#metro-box .metro-item .box-img .metro-description {
  line-height: 1.4rem;
}
